<div class="text-center lead">
  <h1 class="green-text">Welcome to Nick's Locker</h1>
  <div class="subheader">
    <h4>It contains some of the stranged items known to man</h4>
    <h4>I hope you like fasting</h4>
  </div>
</div>

<div class="columns small-6 right" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="foo">
    <!-- This sticky element would stick to the window for the height of the element #foo, with a 1em marginTop -->
  </div>
</div>

<div class="row">
  <div class="row text-center">
    <div class="callout secondary">
      <h3 id="doh">Today's List of Goodies</h3>
    </div>
  </div>
</div>

<div class="row" id="main-content">

  <div class="columns small-12 medium-6 large-4">
    <div class="callout" id="kale">
      <h6>Kale</h6>
      <img src="http://i0.wp.com/churchbrothers.com/content/wp-content/uploads/2014/07/kale-fieldpack.png?resize=600%2C400" alt="Smiley face">
      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>

  <div class="columns small-12 medium-6 large-4">
    <div class="callout" id="fish-oil">
      <h6>Fish Oil</h6>

      <img src="http://www.theissnscoop.com/wp-content/uploads/2013/03/fish-oil_wide-620x349.jpg" alt="Smiley face">

      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>
  <div class="columns small-12 medium-6 large-4 end">
    <div class="callout" id="MCT Oil">
      <h6>MCT Oil</h6>

      <img src="http://www.organicbeautyandculturalproducts.com/coconut-oil2.jpg" alt="Smiley face" height="100" width="300">


      <div class="columns row text-center ">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>

  <div class="columns small-12 medium-6 large-4 end">
    <div class="callout" id="white-powder">
      <h6>Non-descript white powder</h6>

      <img src="https://areyouawellbeing.texashealth.org/wp-content/uploads/2015/09/BreakingNewsCaffeinePowder-670x308.png" alt="Smiley face" height="800">


      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>

  <div class="columns small-12 medium-6 large-4 end">
    <div class="callout" id="comic-book">
      <h6>Sexually Suggestive Comic Book</h6>

      <img src="https://houseofflyingscalpels.files.wordpress.com/2014/08/dildo.jpg" alt="Smiley face" >


      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>

  <div class="columns small-12 medium-6 large-4 end">
    <div class="callout" id="neil-gaiman">
      <h6>Neil Gaiman</h6>

      <img src="http://www.ew.com/sites/default/files/i/2013/10/14/Neil-Gaiman_0_0.jpg" alt="Smiley face" >


      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="foo columns">
    <h3>Add New Item</h3>
    <a href="/foods/new">Add New Item</a>
  </div>
</div>

<br>
<br>
<div class="columns small-3">
  <h3>Resources:</h3>
  <ul class="menu vertical resources">
    <li id="wormhole"><a href="#">Wormhole</a></li>
    <li id="secret-compartment"><a href="#">Secret Compartment</a></li>
    <li id="crystal"><a href="#">Crystal from the 7th Dimensions</a></li>
    <li id="porkrind"><a href="#">Old Porkrind</a></li>
  </ul>
</div>

<div class="columns  esmall-9">
  <h3>Add a Thing to Nick's Locker:</h3>
  <div class="row">
    <div class="small-12 columns">
      <label>Thing Name
        <input id="thing-name" type="text" />
      </label>
    </div>
  </div>

  <div class="text-center">
    <input type="submit" value="Submit" class="button" id="thing-button">
  </div>
</div>
